/* line 262, ../scss/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 265, ../scss/_global.scss */
a:focus {
  outline: none;
}

/* line 297, ../scss/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* Sections */
/* line 273, ../scss/foundation/components/_section.scss */
.section-container, .section-container.auto {
  width: 100%;
  display: block;
  margin-bottom: 1.25em;
  border: 1px solid #cccccc;
  border-top: none;
}
/* line 277, ../scss/foundation/components/_section.scss */
.section-container > section, .section-container > .section, .section-container.auto > section, .section-container.auto > .section {
  position: relative;
}
/* line 87, ../scss/foundation/components/_section.scss */
.section-container > section > .title, .section-container > .section > .title, .section-container.auto > section > .title, .section-container.auto > .section > .title {
  background-color: #efefef;
  cursor: pointer;
  margin-bottom: 0;
}
/* line 92, ../scss/foundation/components/_section.scss */
.section-container > section > .title a, .section-container > .section > .title a, .section-container.auto > section > .title a, .section-container.auto > .section > .title a {
  padding: 0.9375em;
  display: inline-block;
  color: #333333;
  font-size: 0.875em;
  white-space: nowrap;
}
/* line 99, ../scss/foundation/components/_section.scss */
.section-container > section > .title:hover, .section-container > .section > .title:hover, .section-container.auto > section > .title:hover, .section-container.auto > .section > .title:hover {
  background-color: #e2e2e2;
}
/* line 102, ../scss/foundation/components/_section.scss */
.section-container > section .content, .section-container > .section .content, .section-container.auto > section .content, .section-container.auto > .section .content {
  display: none;
  padding: 0.9375em;
  background-color: white;
}
/* line 107, ../scss/foundation/components/_section.scss */
.section-container > section .content > *:last-child, .section-container > .section .content > *:last-child, .section-container.auto > section .content > *:last-child, .section-container.auto > .section .content > *:last-child {
  margin-bottom: 0;
}
/* line 108, ../scss/foundation/components/_section.scss */
.section-container > section .content > *:first-child, .section-container > .section .content > *:first-child, .section-container.auto > section .content > *:first-child, .section-container.auto > .section .content > *:first-child {
  padding-top: 0;
}
/* line 109, ../scss/foundation/components/_section.scss */
.section-container > section .content > *:last-child:not(.flex-video), .section-container > .section .content > *:last-child:not(.flex-video), .section-container.auto > section .content > *:last-child:not(.flex-video), .section-container.auto > .section .content > *:last-child:not(.flex-video) {
  padding-bottom: 0;
}
/* line 113, ../scss/foundation/components/_section.scss */
.section-container > section.active > .content, .section-container > .section.active > .content, .section-container.auto > section.active > .content, .section-container.auto > .section.active > .content {
  display: block;
}
/* line 114, ../scss/foundation/components/_section.scss */
.section-container > section.active > .title, .section-container > .section.active > .title, .section-container.auto > section.active > .title, .section-container.auto > .section.active > .title {
  background: #d5d5d5;
}
/* line 115, ../scss/foundation/components/_section.scss */
.section-container > section.active > .title a, .section-container > .section.active > .title a, .section-container.auto > section.active > .title a, .section-container.auto > .section.active > .title a {
  color: #333333;
}
/* line 124, ../scss/foundation/components/_section.scss */
.section-container > section > .title, .section-container > .section > .title, .section-container.auto > section > .title, .section-container.auto > .section > .title {
  top: 0;
  width: 100%;
  margin: 0;
  border-top: solid 1px #cccccc;
}
/* line 130, ../scss/foundation/components/_section.scss */
.section-container > section > .title a, .section-container > .section > .title a, .section-container.auto > section > .title a, .section-container.auto > .section > .title a {
  width: 100%;
}

/* line 280, ../scss/foundation/components/_section.scss */
.section-container.tabs {
  border: 0;
  position: relative;
}
/* line 284, ../scss/foundation/components/_section.scss */
.section-container.tabs > section, .section-container.tabs > .section {
  border: 0;
  position: static;
}
/* line 87, ../scss/foundation/components/_section.scss */
.section-container.tabs > section > .title, .section-container.tabs > .section > .title {
  background-color: #efefef;
  cursor: pointer;
  margin-bottom: 0;
}
/* line 92, ../scss/foundation/components/_section.scss */
.section-container.tabs > section > .title a, .section-container.tabs > .section > .title a {
  padding: 0.9375em;
  display: inline-block;
  color: #333333;
  font-size: 0.875em;
  white-space: nowrap;
}
/* line 99, ../scss/foundation/components/_section.scss */
.section-container.tabs > section > .title:hover, .section-container.tabs > .section > .title:hover {
  background-color: #e2e2e2;
}
/* line 102, ../scss/foundation/components/_section.scss */
.section-container.tabs > section .content, .section-container.tabs > .section .content {
  display: none;
  padding: 0.9375em;
  background-color: white;
}
/* line 107, ../scss/foundation/components/_section.scss */
.section-container.tabs > section .content > *:last-child, .section-container.tabs > .section .content > *:last-child {
  margin-bottom: 0;
}
/* line 108, ../scss/foundation/components/_section.scss */
.section-container.tabs > section .content > *:first-child, .section-container.tabs > .section .content > *:first-child {
  padding-top: 0;
}
/* line 109, ../scss/foundation/components/_section.scss */
.section-container.tabs > section .content > *:last-child:not(.flex-video), .section-container.tabs > .section .content > *:last-child:not(.flex-video) {
  padding-bottom: 0;
}
/* line 113, ../scss/foundation/components/_section.scss */
.section-container.tabs > section.active > .content, .section-container.tabs > .section.active > .content {
  display: block;
}
/* line 114, ../scss/foundation/components/_section.scss */
.section-container.tabs > section.active > .title, .section-container.tabs > .section.active > .title {
  background: white;
}
/* line 115, ../scss/foundation/components/_section.scss */
.section-container.tabs > section.active > .title a, .section-container.tabs > .section.active > .title a {
  color: #333333;
}
/* line 139, ../scss/foundation/components/_section.scss */
.section-container.tabs > section > .title, .section-container.tabs > .section > .title {
  width: auto;
  border: solid 1px #cccccc;
  border-right: 0;
  border-bottom: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 148, ../scss/foundation/components/_section.scss */
.section-container.tabs > section > .title a, .section-container.tabs > .section > .title a {
  width: 100%;
}
/* line 150, ../scss/foundation/components/_section.scss */
.section-container.tabs > section:last-child .title, .section-container.tabs > .section:last-child .title {
  border-right: solid 1px #cccccc;
}
/* line 152, ../scss/foundation/components/_section.scss */
.section-container.tabs > section .content, .section-container.tabs > .section .content {
  border: solid 1px #cccccc;
  position: absolute;
  z-index: 10;
  display: none;
  top: -1px;
}
/* line 161, ../scss/foundation/components/_section.scss */
.section-container.tabs > section.active > .title, .section-container.tabs > .section.active > .title {
  z-index: 11;
  border-bottom: 0;
  background-color: white;
}
/* line 166, ../scss/foundation/components/_section.scss */
.section-container.tabs > section.active > .content, .section-container.tabs > .section.active > .content {
  position: relative;
}

@media only screen and (min-width: 768px) {
  /* line 289, ../scss/foundation/components/_section.scss */
  .section-container.auto {
    border: 0;
    position: relative;
  }
  /* line 293, ../scss/foundation/components/_section.scss */
  .section-container.auto > section, .section-container.auto > .section {
    border: 0;
    position: static;
  }
  /* line 87, ../scss/foundation/components/_section.scss */
  .section-container.auto > section > .title, .section-container.auto > .section > .title {
    background-color: #efefef;
    cursor: pointer;
    margin-bottom: 0;
  }
  /* line 92, ../scss/foundation/components/_section.scss */
  .section-container.auto > section > .title a, .section-container.auto > .section > .title a {
    padding: 0.9375em;
    display: inline-block;
    color: #333333;
    font-size: 0.875em;
    white-space: nowrap;
  }
  /* line 99, ../scss/foundation/components/_section.scss */
  .section-container.auto > section > .title:hover, .section-container.auto > .section > .title:hover {
    background-color: #e2e2e2;
  }
  /* line 102, ../scss/foundation/components/_section.scss */
  .section-container.auto > section .content, .section-container.auto > .section .content {
    display: none;
    padding: 0.9375em;
    background-color: white;
  }
  /* line 107, ../scss/foundation/components/_section.scss */
  .section-container.auto > section .content > *:last-child, .section-container.auto > .section .content > *:last-child {
    margin-bottom: 0;
  }
  /* line 108, ../scss/foundation/components/_section.scss */
  .section-container.auto > section .content > *:first-child, .section-container.auto > .section .content > *:first-child {
    padding-top: 0;
  }
  /* line 109, ../scss/foundation/components/_section.scss */
  .section-container.auto > section .content > *:last-child:not(.flex-video), .section-container.auto > .section .content > *:last-child:not(.flex-video) {
    padding-bottom: 0;
  }
  /* line 113, ../scss/foundation/components/_section.scss */
  .section-container.auto > section.active > .content, .section-container.auto > .section.active > .content {
    display: block;
  }
  /* line 114, ../scss/foundation/components/_section.scss */
  .section-container.auto > section.active > .title, .section-container.auto > .section.active > .title {
    background: white;
  }
  /* line 115, ../scss/foundation/components/_section.scss */
  .section-container.auto > section.active > .title a, .section-container.auto > .section.active > .title a {
    color: #333333;
  }
  /* line 139, ../scss/foundation/components/_section.scss */
  .section-container.auto > section > .title, .section-container.auto > .section > .title {
    width: auto;
    border: solid 1px #cccccc;
    border-right: 0;
    border-bottom: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  /* line 148, ../scss/foundation/components/_section.scss */
  .section-container.auto > section > .title a, .section-container.auto > .section > .title a {
    width: 100%;
  }
  /* line 150, ../scss/foundation/components/_section.scss */
  .section-container.auto > section:last-child .title, .section-container.auto > .section:last-child .title {
    border-right: solid 1px #cccccc;
  }
  /* line 152, ../scss/foundation/components/_section.scss */
  .section-container.auto > section .content, .section-container.auto > .section .content {
    border: solid 1px #cccccc;
    position: absolute;
    z-index: 10;
    display: none;
    top: -1px;
  }
  /* line 161, ../scss/foundation/components/_section.scss */
  .section-container.auto > section.active > .title, .section-container.auto > .section.active > .title {
    z-index: 11;
    border-bottom: 0;
    background-color: white;
  }
  /* line 166, ../scss/foundation/components/_section.scss */
  .section-container.auto > section.active > .content, .section-container.auto > .section.active > .content {
    position: relative;
  }

  /* line 295, ../scss/foundation/components/_section.scss */
  .section-container.accordion .section {
    padding-top: 0 !important;
  }

  /* line 299, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs {
    border: 1px solid #cccccc;
    position: relative;
  }
  /* line 303, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section,
  .section-container.vertical-tabs .section {
    padding-top: 0 !important;
    border: 0;
    position: static;
  }
  /* line 87, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section > .title,
  .section-container.vertical-tabs .section > .title {
    background-color: #efefef;
    cursor: pointer;
    margin-bottom: 0;
  }
  /* line 92, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section > .title a,
  .section-container.vertical-tabs .section > .title a {
    padding: 0.9375em;
    display: inline-block;
    color: #333333;
    font-size: 0.875em;
    white-space: nowrap;
  }
  /* line 99, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section > .title:hover,
  .section-container.vertical-tabs .section > .title:hover {
    background-color: #e2e2e2;
  }
  /* line 102, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section .content,
  .section-container.vertical-tabs .section .content {
    display: none;
    padding: 0.9375em;
    background-color: white;
  }
  /* line 107, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section .content > *:last-child,
  .section-container.vertical-tabs .section .content > *:last-child {
    margin-bottom: 0;
  }
  /* line 108, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section .content > *:first-child,
  .section-container.vertical-tabs .section .content > *:first-child {
    padding-top: 0;
  }
  /* line 109, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section .content > *:last-child:not(.flex-video),
  .section-container.vertical-tabs .section .content > *:last-child:not(.flex-video) {
    padding-bottom: 0;
  }
  /* line 113, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section.active > .content,
  .section-container.vertical-tabs .section.active > .content {
    display: block;
  }
  /* line 114, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section.active > .title,
  .section-container.vertical-tabs .section.active > .title {
    background: #d5d5d5;
  }
  /* line 115, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section.active > .title a,
  .section-container.vertical-tabs .section.active > .title a {
    color: #333333;
  }
  /* line 176, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section > .title,
  .section-container.vertical-tabs .section > .title {
    position: absolute;
    border-top: solid 1px #cccccc;
    width: 12.5em;
  }
  /* line 181, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section:first-child .title,
  .section-container.vertical-tabs .section:first-child .title {
    border-top: 0;
  }
  /* line 183, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section .content,
  .section-container.vertical-tabs .section .content {
    display: block;
    position: relative;
    left: 12.5em;
    border-left: solid 1px #cccccc;
    z-index: 10;
  }
  /* line 194, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section.active > .title,
  .section-container.vertical-tabs .section.active > .title {
    background-color: #d5d5d5;
    width: 12.5625em;
    border-right: solid 0 transparent;
    z-index: 11;
  }
  /* line 200, ../scss/foundation/components/_section.scss */
  .section-container.vertical-tabs section.active:last-child .title,
  .section-container.vertical-tabs .section.active:last-child .title {
    border-bottom: 0;
  }

  /* line 306, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav {
    border: 0;
    position: relative;
  }
  /* line 310, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section, .section-container.vertical-nav > .section {
    padding-top: 0 !important;
    position: relative;
  }
  /* line 87, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section > .title, .section-container.vertical-nav > .section > .title {
    background-color: #efefef;
    cursor: pointer;
    margin-bottom: 0;
  }
  /* line 92, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section > .title a, .section-container.vertical-nav > .section > .title a {
    padding: 0.9375em;
    display: inline-block;
    color: #333333;
    font-size: 0.875em;
    white-space: nowrap;
  }
  /* line 99, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section > .title:hover, .section-container.vertical-nav > .section > .title:hover {
    background-color: #e2e2e2;
  }
  /* line 102, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section .content, .section-container.vertical-nav > .section .content {
    display: none;
    padding: 0.9375em;
    background-color: white;
  }
  /* line 107, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section .content > *:last-child, .section-container.vertical-nav > .section .content > *:last-child {
    margin-bottom: 0;
  }
  /* line 108, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section .content > *:first-child, .section-container.vertical-nav > .section .content > *:first-child {
    padding-top: 0;
  }
  /* line 109, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section .content > *:last-child:not(.flex-video), .section-container.vertical-nav > .section .content > *:last-child:not(.flex-video) {
    padding-bottom: 0;
  }
  /* line 113, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section.active > .content, .section-container.vertical-nav > .section.active > .content {
    display: block;
  }
  /* line 114, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section.active > .title, .section-container.vertical-nav > .section.active > .title {
    background: #d5d5d5;
  }
  /* line 115, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section.active > .title a, .section-container.vertical-nav > .section.active > .title a {
    color: #333333;
  }
  /* line 209, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section > .title, .section-container.vertical-nav > .section > .title {
    border-top: none;
    border: solid 1px #cccccc;
  }
  /* line 213, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section > .title a, .section-container.vertical-nav > .section > .title a {
    display: block;
    width: 100%;
  }
  /* line 218, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section .content, .section-container.vertical-nav > .section .content {
    display: none;
  }
  /* line 219, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section:first-child .title, .section-container.vertical-nav > .section:first-child .title {
    border-bottom: none;
  }
  /* line 222, ../scss/foundation/components/_section.scss */
  .section-container.vertical-nav > section.active > .content, .section-container.vertical-nav > .section.active > .content {
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 999;
    min-width: 12.5em;
    border: solid 1px #cccccc;
  }

  /* line 313, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav {
    position: relative;
    background: #efefef;
    border: 1px solid #cccccc;
  }
  /* line 317, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section, .section-container.horizontal-nav > .section {
    padding-top: 0;
    border: 0;
    position: static;
  }
  /* line 87, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section > .title, .section-container.horizontal-nav > .section > .title {
    background-color: #efefef;
    cursor: pointer;
    margin-bottom: 0;
  }
  /* line 92, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section > .title a, .section-container.horizontal-nav > .section > .title a {
    padding: 0.9375em;
    display: inline-block;
    color: #333333;
    font-size: 0.875em;
    white-space: nowrap;
  }
  /* line 99, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section > .title:hover, .section-container.horizontal-nav > .section > .title:hover {
    background-color: #e2e2e2;
  }
  /* line 102, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section .content, .section-container.horizontal-nav > .section .content {
    display: none;
    padding: 0.9375em;
    background-color: white;
  }
  /* line 107, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section .content > *:last-child, .section-container.horizontal-nav > .section .content > *:last-child {
    margin-bottom: 0;
  }
  /* line 108, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section .content > *:first-child, .section-container.horizontal-nav > .section .content > *:first-child {
    padding-top: 0;
  }
  /* line 109, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section .content > *:last-child:not(.flex-video), .section-container.horizontal-nav > .section .content > *:last-child:not(.flex-video) {
    padding-bottom: 0;
  }
  /* line 113, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section.active > .content, .section-container.horizontal-nav > .section.active > .content {
    display: block;
  }
  /* line 114, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section.active > .title, .section-container.horizontal-nav > .section.active > .title {
    background: #d5d5d5;
  }
  /* line 115, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section.active > .title a, .section-container.horizontal-nav > .section.active > .title a {
    color: #333333;
  }
  /* line 240, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section > .title, .section-container.horizontal-nav > .section > .title {
    width: auto;
    border: solid 1px #cccccc;
    border-left: 0;
    top: -1px;
    position: absolute;
    z-index: 1;
  }
  /* line 248, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section > .title a, .section-container.horizontal-nav > .section > .title a {
    width: 100%;
  }
  /* line 251, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section .content, .section-container.horizontal-nav > .section .content {
    display: none;
  }
  /* line 254, ../scss/foundation/components/_section.scss */
  .section-container.horizontal-nav > section.active > .content, .section-container.horizontal-nav > .section.active > .content {
    display: block;
    position: absolute;
    z-index: 999;
    left: 0;
    top: -2px;
    min-width: 12.5em;
    border: solid 1px #cccccc;
  }
}
/* line 328, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto, .no-js .section-container.accordion, .no-js .section-container.tabs, .no-js .section-container.vertical-tabs, .no-js .section-container.vertical-nav, .no-js .section-container.horizontal-nav {
  width: 100%;
  display: block;
  margin-bottom: 1.25em;
  border: 1px solid #cccccc;
  border-top: none;
}
/* line 332, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section, .no-js .section-container.auto > .section, .no-js .section-container.accordion > section, .no-js .section-container.accordion > .section, .no-js .section-container.tabs > section, .no-js .section-container.tabs > .section, .no-js .section-container.vertical-tabs > section, .no-js .section-container.vertical-tabs > .section, .no-js .section-container.vertical-nav > section, .no-js .section-container.vertical-nav > .section, .no-js .section-container.horizontal-nav > section, .no-js .section-container.horizontal-nav > .section {
  position: relative;
}
/* line 87, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section > .title, .no-js .section-container.auto > .section > .title, .no-js .section-container.accordion > section > .title, .no-js .section-container.accordion > .section > .title, .no-js .section-container.tabs > section > .title, .no-js .section-container.tabs > .section > .title, .no-js .section-container.vertical-tabs > section > .title, .no-js .section-container.vertical-tabs > .section > .title, .no-js .section-container.vertical-nav > section > .title, .no-js .section-container.vertical-nav > .section > .title, .no-js .section-container.horizontal-nav > section > .title, .no-js .section-container.horizontal-nav > .section > .title {
  background-color: #efefef;
  cursor: pointer;
  margin-bottom: 0;
}
/* line 92, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section > .title a, .no-js .section-container.auto > .section > .title a, .no-js .section-container.accordion > section > .title a, .no-js .section-container.accordion > .section > .title a, .no-js .section-container.tabs > section > .title a, .no-js .section-container.tabs > .section > .title a, .no-js .section-container.vertical-tabs > section > .title a, .no-js .section-container.vertical-tabs > .section > .title a, .no-js .section-container.vertical-nav > section > .title a, .no-js .section-container.vertical-nav > .section > .title a, .no-js .section-container.horizontal-nav > section > .title a, .no-js .section-container.horizontal-nav > .section > .title a {
  padding: 0.9375em;
  display: inline-block;
  color: #333333;
  font-size: 0.875em;
  white-space: nowrap;
}
/* line 99, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section > .title:hover, .no-js .section-container.auto > .section > .title:hover, .no-js .section-container.accordion > section > .title:hover, .no-js .section-container.accordion > .section > .title:hover, .no-js .section-container.tabs > section > .title:hover, .no-js .section-container.tabs > .section > .title:hover, .no-js .section-container.vertical-tabs > section > .title:hover, .no-js .section-container.vertical-tabs > .section > .title:hover, .no-js .section-container.vertical-nav > section > .title:hover, .no-js .section-container.vertical-nav > .section > .title:hover, .no-js .section-container.horizontal-nav > section > .title:hover, .no-js .section-container.horizontal-nav > .section > .title:hover {
  background-color: #e2e2e2;
}
/* line 102, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section .content, .no-js .section-container.auto > .section .content, .no-js .section-container.accordion > section .content, .no-js .section-container.accordion > .section .content, .no-js .section-container.tabs > section .content, .no-js .section-container.tabs > .section .content, .no-js .section-container.vertical-tabs > section .content, .no-js .section-container.vertical-tabs > .section .content, .no-js .section-container.vertical-nav > section .content, .no-js .section-container.vertical-nav > .section .content, .no-js .section-container.horizontal-nav > section .content, .no-js .section-container.horizontal-nav > .section .content {
  display: none;
  padding: 0.9375em;
  background-color: white;
}
/* line 107, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section .content > *:last-child, .no-js .section-container.auto > .section .content > *:last-child, .no-js .section-container.accordion > section .content > *:last-child, .no-js .section-container.accordion > .section .content > *:last-child, .no-js .section-container.tabs > section .content > *:last-child, .no-js .section-container.tabs > .section .content > *:last-child, .no-js .section-container.vertical-tabs > section .content > *:last-child, .no-js .section-container.vertical-tabs > .section .content > *:last-child, .no-js .section-container.vertical-nav > section .content > *:last-child, .no-js .section-container.vertical-nav > .section .content > *:last-child, .no-js .section-container.horizontal-nav > section .content > *:last-child, .no-js .section-container.horizontal-nav > .section .content > *:last-child {
  margin-bottom: 0;
}
/* line 108, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section .content > *:first-child, .no-js .section-container.auto > .section .content > *:first-child, .no-js .section-container.accordion > section .content > *:first-child, .no-js .section-container.accordion > .section .content > *:first-child, .no-js .section-container.tabs > section .content > *:first-child, .no-js .section-container.tabs > .section .content > *:first-child, .no-js .section-container.vertical-tabs > section .content > *:first-child, .no-js .section-container.vertical-tabs > .section .content > *:first-child, .no-js .section-container.vertical-nav > section .content > *:first-child, .no-js .section-container.vertical-nav > .section .content > *:first-child, .no-js .section-container.horizontal-nav > section .content > *:first-child, .no-js .section-container.horizontal-nav > .section .content > *:first-child {
  padding-top: 0;
}
/* line 109, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section .content > *:last-child:not(.flex-video), .no-js .section-container.auto > .section .content > *:last-child:not(.flex-video), .no-js .section-container.accordion > section .content > *:last-child:not(.flex-video), .no-js .section-container.accordion > .section .content > *:last-child:not(.flex-video), .no-js .section-container.tabs > section .content > *:last-child:not(.flex-video), .no-js .section-container.tabs > .section .content > *:last-child:not(.flex-video), .no-js .section-container.vertical-tabs > section .content > *:last-child:not(.flex-video), .no-js .section-container.vertical-tabs > .section .content > *:last-child:not(.flex-video), .no-js .section-container.vertical-nav > section .content > *:last-child:not(.flex-video), .no-js .section-container.vertical-nav > .section .content > *:last-child:not(.flex-video), .no-js .section-container.horizontal-nav > section .content > *:last-child:not(.flex-video), .no-js .section-container.horizontal-nav > .section .content > *:last-child:not(.flex-video) {
  padding-bottom: 0;
}
/* line 113, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section.active > .content, .no-js .section-container.auto > .section.active > .content, .no-js .section-container.accordion > section.active > .content, .no-js .section-container.accordion > .section.active > .content, .no-js .section-container.tabs > section.active > .content, .no-js .section-container.tabs > .section.active > .content, .no-js .section-container.vertical-tabs > section.active > .content, .no-js .section-container.vertical-tabs > .section.active > .content, .no-js .section-container.vertical-nav > section.active > .content, .no-js .section-container.vertical-nav > .section.active > .content, .no-js .section-container.horizontal-nav > section.active > .content, .no-js .section-container.horizontal-nav > .section.active > .content {
  display: block;
}
/* line 114, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section.active > .title, .no-js .section-container.auto > .section.active > .title, .no-js .section-container.accordion > section.active > .title, .no-js .section-container.accordion > .section.active > .title, .no-js .section-container.tabs > section.active > .title, .no-js .section-container.tabs > .section.active > .title, .no-js .section-container.vertical-tabs > section.active > .title, .no-js .section-container.vertical-tabs > .section.active > .title, .no-js .section-container.vertical-nav > section.active > .title, .no-js .section-container.vertical-nav > .section.active > .title, .no-js .section-container.horizontal-nav > section.active > .title, .no-js .section-container.horizontal-nav > .section.active > .title {
  background: #d5d5d5;
}
/* line 115, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section.active > .title a, .no-js .section-container.auto > .section.active > .title a, .no-js .section-container.accordion > section.active > .title a, .no-js .section-container.accordion > .section.active > .title a, .no-js .section-container.tabs > section.active > .title a, .no-js .section-container.tabs > .section.active > .title a, .no-js .section-container.vertical-tabs > section.active > .title a, .no-js .section-container.vertical-tabs > .section.active > .title a, .no-js .section-container.vertical-nav > section.active > .title a, .no-js .section-container.vertical-nav > .section.active > .title a, .no-js .section-container.horizontal-nav > section.active > .title a, .no-js .section-container.horizontal-nav > .section.active > .title a {
  color: #333333;
}
/* line 124, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section > .title, .no-js .section-container.auto > .section > .title, .no-js .section-container.accordion > section > .title, .no-js .section-container.accordion > .section > .title, .no-js .section-container.tabs > section > .title, .no-js .section-container.tabs > .section > .title, .no-js .section-container.vertical-tabs > section > .title, .no-js .section-container.vertical-tabs > .section > .title, .no-js .section-container.vertical-nav > section > .title, .no-js .section-container.vertical-nav > .section > .title, .no-js .section-container.horizontal-nav > section > .title, .no-js .section-container.horizontal-nav > .section > .title {
  top: 0;
  width: 100%;
  margin: 0;
  border-top: solid 1px #cccccc;
}
/* line 130, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section > .title a, .no-js .section-container.auto > .section > .title a, .no-js .section-container.accordion > section > .title a, .no-js .section-container.accordion > .section > .title a, .no-js .section-container.tabs > section > .title a, .no-js .section-container.tabs > .section > .title a, .no-js .section-container.vertical-tabs > section > .title a, .no-js .section-container.vertical-tabs > .section > .title a, .no-js .section-container.vertical-nav > section > .title a, .no-js .section-container.vertical-nav > .section > .title a, .no-js .section-container.horizontal-nav > section > .title a, .no-js .section-container.horizontal-nav > .section > .title a {
  width: 100%;
}
/* line 333, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section .title, .no-js .section-container.auto > .section .title, .no-js .section-container.accordion > section .title, .no-js .section-container.accordion > .section .title, .no-js .section-container.tabs > section .title, .no-js .section-container.tabs > .section .title, .no-js .section-container.vertical-tabs > section .title, .no-js .section-container.vertical-tabs > .section .title, .no-js .section-container.vertical-nav > section .title, .no-js .section-container.vertical-nav > .section .title, .no-js .section-container.horizontal-nav > section .title, .no-js .section-container.horizontal-nav > .section .title {
  position: static;
  width: 100%;
  border-left: 0;
  border-right: 0;
}
/* line 340, ../scss/foundation/components/_section.scss */
.no-js .section-container.auto > section .content, .no-js .section-container.auto > .section .content, .no-js .section-container.accordion > section .content, .no-js .section-container.accordion > .section .content, .no-js .section-container.tabs > section .content, .no-js .section-container.tabs > .section .content, .no-js .section-container.vertical-tabs > section .content, .no-js .section-container.vertical-tabs > .section .content, .no-js .section-container.vertical-nav > section .content, .no-js .section-container.vertical-nav > .section .content, .no-js .section-container.horizontal-nav > section .content, .no-js .section-container.horizontal-nav > .section .content {
  position: static;
  display: block;
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
